name: build

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15]
        compiler: [clang++]
        # Ubuntu uses GCC which doesn't support coverage, and we want to compile with both GCC and Clang.
        include:
          - os: ubuntu-22.04
            compiler: g++
          - os: ubuntu-22.04
            compiler: clang++
            extra_compile_flags: "-DTAILSLIDE_COVERAGE=ON"
            check_coverage: true

    name: ${{matrix.os}} - ${{matrix.compiler}}
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v1

      - name: Install Mac Dependencies
        if: ${{ matrix.os == 'macos-15' }}
        shell: bash
        run: |
          bash bootstrap_macos.sh

      - name: make test
        run: |
          mkdir build
          pushd build
          CXX=${{matrix.compiler}} cmake .. -DTAILSLIDE_SANITIZE=ON -DTAILSLIDE_CI_RUN=ON ${{matrix.extra_compile_flags}}
          cmake --build . -- -j4
          popd
          mkdir coverage
          ./build/tailslide-test

      - name: Merge coverage data
        if: ${{matrix.check_coverage}}
        run: |
          llvm-profdata-14 merge default.profraw -o default.profdata
          llvm-cov-14 report -ignore-filename-regex=\(tests\|extern\)/.* -show-region-summary=false --instr-profile default.profdata build/tailslide-test
          llvm-cov-14 export -ignore-filename-regex=\(tests\|extern\)/.* -format lcov --instr-profile default.profdata build/tailslide-test > coverage.info

  windows-build:
    name: Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: secondlife/action-autobuild@v3
        with:
          addrsize: 64
          cygwin-packages: "flex bison"
          build-variables-ref: master

  build:
    needs: test
    strategy:
      matrix:
        os: [ubuntu-22.04]
        addrsize: ["64"]
    name: ${{matrix.os}}
    runs-on: ${{matrix.os}}
    container:
      # Use an old debian for glibc compatibility reasons
      image: debian:buster
      env:
        DEBIAN_FRONTEND: noninteractive
    continue-on-error: false
    steps:
      - name: install dependencies
        run: |
          # buster is out-of-support, point the apt lists at the archive
          sed -i s/deb.debian.org/archive.debian.org/g /etc/apt/sources.list
          sed -i s/security.debian.org/archive.debian.org/g /etc/apt/sources.list

          # First, enable multiarch in dpkg/apt land
          dpkg --add-architecture i386

          # Get both updated amd64 and 'new to us' i386 packages
          apt-get update

          # 64-bit tools.  The debian:buster image has very, very old packages in it.
          # The 'git' it includes does not support the recursive git submodule mode of
          # the various checkout actions so update it to 2.18 or better.
          apt-get install -y git jq python3-pip gettext bison mawk

          # Multiarch tools and libraries.  Get the compiler and library tooling needed
          # for i386 and amd64 building.
          apt-get install -y gcc-8-multilib gcc-8-base:amd64 gcc-8-base:i386 libgcc-8-dev:amd64 libgcc-8-dev:i386 libgcc1:amd64 libgcc1:i386
          apt-get install -y libglib2.0-0:amd64 libglib2.0-0:i386 libglib2.0-bin libglib2.0-data libglib2.0-dev:amd64 libglib2.0-dev:i386 libglib2.0-dev-bin
          apt-get install -y libstdc++-8-dev:amd64 libstdc++-8-dev:i386 libstdc++6:amd64 libstdc++6:i386 zlib1g:amd64 zlib1g:i386 zlib1g-dev:amd64 zlib1g-dev:i386
          apt-get install -y build-essential libpthread-stubs0-dev clang-11
          apt-get install -y gcc-multilib g++-multilib cmake bison flex

          # Finally, autobuild
          pip3 --no-cache-dir install pydot==1.4.2 pyzstd==0.15.10 autobuild

      - name: configure tools
        run: |
          # Don't muck with line endings and make things dirty on checkout
          git config --global core.autocrlf false
          # There's gonna be a lot of legitimate dubious ownership
          git config --global --add safe.directory '*'

          update-alternatives --install /usr/bin/cc cc /usr/bin/clang-11 100
          update-alternatives --install /usr/bin/c++ c++ /usr/bin/clang++-11 100

      - uses: actions/checkout@v3

      - uses: secondlife/action-autobuild@v5
        with:
          addrsize: ${{ matrix.addrsize }}
          setup-python: false
          setup-autobuild: false
          build-variables-ref: master
